/* Add CSS Styling */
.odd-para{
    background-color: lightcoral;
    font-family: Verdana, "DejaVu Sans",sans-serif ;
}
#number-2{
    color: blue;
    font-size: 36px;
}
.odd-para.cool{
font-size: 24px;
}
#number-4{
    background-color: #90D48B;
    font-size: 24px;
    font-weight: bold;
}